body{
    background-color: rgb(0, 0, 0);


}


form{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 260px;
    
}

h2{
    text-align: center;
    color: aliceblue;
}