*.container{

    background-color: rgb(0, 0, 0);
}


h3{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}

span{
    color: aliceblue;
}

body{
    background-color: black;
}

a{
    color: aliceblue;
}

h1{
    color: aliceblue;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}